.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin: 0px;
}

.container{

}

.container a {
  color:#d4d5d9
}

.point {
  margin-left: 15px;
  margin-right: 15px;
  color:#B1B2B5
}